:root {
  --primary: #920092;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #71009beb;
}
.footer-bottom i:hover {
    color: rgb(182, 5, 5);
}
.spinner {
  width: 40px;
  height: 40px;
  background: var(--primary);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0) rotateY(0);
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}
#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
.fw-bold,
h1,
h2 {
  font-weight: 800 !important;
}
.fw-semi-bold,
h3,
h4 {
  font-weight: 700 !important;
}
.fw-medium,
h5,
h6 {
  font-weight: 600 !important;
}
.btn {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  transition: 0.5s;
}
.btn-primary {
  color: #fff;
  box-shadow: inset 0 0 0 50px transparent;
}
.btn-primary:hover {
  box-shadow: inset 0 0 0 0 var(--primary);
}
.btn-square {
  width: 36px;
  height: 36px;
}
.btn-sm-square {
  width: 30px;
  height: 30px;
}
.btn-lg-square {
  width: 48px;
  height: 48px;
}
.btn-lg-square,
.btn-sm-square,
.btn-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  font-family: Nunito, sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-brand h1 {
  color: #fff;
}
.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}
@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show {
    padding: 10px 0;
    color: var(--dark);
  }
  .navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
}
@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }
  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }
  .navbar-dark .navbar-nav .nav-link.active::before,
  .navbar-dark .navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 13, 30, 0.63);
  z-index: 1;
}
@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }
  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}
.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}
.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0;
  background: #fff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}
.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}
.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}
.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}
@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}
@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  transition: 0.5s;
}
.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}
.service-item .service-icon i {
  transform: rotate(45deg);
}
.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}
.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}
.testimonial-carousel .owl-item.center {
  position: relative;
  z-index: 1;
}
.testimonial-carousel .owl-item .testimonial-item {
  transition: 0.5s;
}
.testimonial-carousel .owl-item.center .testimonial-item {
  background: #fff !important;
  box-shadow: 0 0 30px #ddd;
}
.team-item {
  transition: 0.5s;
}
.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}
.team-item:hover {
  box-shadow: 0 0 30px #ddd;
}
.team-item:hover .team-social {
  background: rgba(64, 64, 64, 0.7);
}
.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}
.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.05s;
}
.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}
.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.15s;
}
.blog-item .blog-img img,
.team-item .team-img img {
  transition: 0.5s;
}
.blog-item:hover .blog-img img,
.team-item:hover .team-img img {
  transform: scale(1.15);
}
@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.bg-header-0 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/contact.webp) center center no-repeat;
  background-size: cover;
}
.bg-header-1 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/us.webp) center center no-repeat;
  background-size: cover;
}
.bgs {
  background: #350035;
}
.bg-header-2 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/lapi.webp) center center no-repeat;
  background-size: cover;
}

.bg-header-3 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/services.webp) center center no-repeat;
  background-size: cover;
}
.bg-header-4 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/feature.webp) center center no-repeat;
  background-size: cover;
}
.bg-header-5 {
  background: linear-gradient(rgba(51, 26, 67, 0.7), rgba(44, 20, 102, 0.7)),
    url(../img/contact.webp) center center no-repeat;
  background-size: cover;
}
.link-animated a {
  transition: 0.5s;
}
.link-animated a:hover {
  padding-left: 10px;
}
@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: -75px;
  }
}
.d-flex i:hover {
   color: rgb(207, 3, 3);
}
#just{
    width:400px;
    height: 600px;
    display: flex;
    justify-content: center;
}
